/* Top Banner Size*/
#banner {
    background: rgb(0, 14, 100);
    height: 41vw;
    margin-bottom: 6vw;
}

/* Grid and text for header*/
#banner-grid {
    display: grid;
    grid-template-columns: repeat(12, 6.1538vw);
    column-gap: 1.538vw;
    row-gap: 16px;
    max-width: 100vw;
    margin: 0 4.6153vw;
}

#banner-grid > h1 {
    grid-column: 5 / 11;
    text-align: left;
    margin-top: 20vw;
    font-size: 3.55vw;
    color: white;
    line-height: 1.1;
}

#headshot {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    width: 29.2307vw;
    height: auto;
}

.about-me-blurb {
    grid-column: 5 / 12;
    text-align: left;
    font-size: 1.65vw;
    margin-top: -0.1vw;
}

#skills-header {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-size: 2.5vw;
    color: rgb(89, 201, 67);
    margin-top: 3vw;
}

#skills {
    grid-column: 3 / 13;
    grid-row: 4 / 5;
    text-align: left;
    font-size: 1.65vw;
    color: rgb(89, 201, 67);
    margin-top: 3vw;
}

#skills > p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

#linkedin-link {
    grid-row: 5 / 6;
}

#back-to-top {
    grid-row: 5 / 6;
}