h1 {
    font-size: 72px;
    margin: 32px;
}

h2 {
    font-size: 32px;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
}

p {
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    line-height: 28px;
}

li{
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    line-height: 28px;
}

ol
{
    font-size: 24px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    line-height: 28px;
}

img {
    display: block;
    margin: auto;
}