.introduction-section{
    margin-top: 8px;
    background-color: #16324f;
    height: 500px;
    align-content: center;
}

.introduction-text{
    color: #ffffff;
    font-size: 72px;
    width: 700px;
    margin: auto;
}

.intro-big {
    font-size: 80px;
}

.intro-small {
    font-size: 36px;
}

.mission-statement{
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.mission-statement > p {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 8px;
    line-height: 150%;
}

.areas-of-work{
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.work-area {
    padding: 8px;
    width: 250px;
}

.work-area > h3 {
    text-align: center;
    margin-bottom: 8px;
    font-size: 48px;
}

.work-area > p {
    padding-top: 8px;
    text-align: center;
}

.work-area > img {
    width: 250px;
    height: 250px;
}

.gallery-header{
    font-size: 60px;
    margin-top: 32px;
    text-align: center;
}

.project-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    width: 500px;
    height: 400px;
    margin: 16px;
}

.project-card > img{
    width: 500px;
    height: 350px;
}

.project-card > h3{
    height: 50px;
    margin-top: -4px;
    padding-left: 8px;
    background-color: #16324f;
    color: #ffffff;
    align-content: center;
}