/* This file is for styling for all page, page specific styling goes in their own stylesheet */

/* Reset all styling for margin and padding */
*{
    margin: 0%;
    padding: 0%;
}

/* Font setting */
h1, h2, h3, p, li, nav > a {
    font-family: "Montserrat", sans-serif;
}

.bolded {
    font-weight: bold;
}

/* Navigation Bar */
nav {
    display: flex;
    background-color: #16324f;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: left;
}
nav > a {
    color: white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
    justify-self: center;
    font-size: large;
    align-self: center;
}
nav > a:hover {
    color: #95B46A;
}
.nav-seperator {
    border-left: solid #ffffff;
}

/* Body and main content section */
body {
    background-color: lightgrey;
}
.main-body {
    justify-self: center;
    @media screen and (min-width: 600px) {
        width: 600px;
    }
    @media screen and (min-width: 800px) {
        width: 800px;
    }
    @media screen and (min-width: 1000px) {
        width: 1000px;
    }
}

/* Footer */
footer{
    padding: 16px;
    margin-top: 64px;
    background-color: #16324f;
    display: flex;
    justify-content: space-around;
}
footer > h3{
    color: white;
}
footer > h3 > a:link{
    color: white;
}
footer > h3 > a:visited{
    color: white;
}
footer > h3 > a:active{
    color: white;
}
footer > h3 > a:hover{
    color: greenyellow;
}

.link-icon {
    display: inline;
}